Markdown==3.6
MarkupSafe==2.0.1
mkdocs==1.6.0
mkdocs-get-deps==0.2.0
mkdocs-material==9.5.26
mkdocs-material-extensions==1.3.1
mkdocs-mermaid2-plugin==1.1.1
mkdocs-toggle-sidebar-plugin==0.0.3
UNKNOWN @ git+https://github.com/Python-Markdown/markdown.git@33359faa385f59b84cd87df5f4b0996055a482e2
